@model PluginSleuth.Models.Version

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Version</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadMe" class="control-label"></label>
                <input asp-for="ReadMe" class="form-control" />
                <span asp-validation-for="ReadMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PluginId" class="control-label"></label>
                <select asp-for="PluginId" class ="form-control" asp-items="ViewBag.PluginId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DownloadLink" class="control-label"></label>
                <input asp-for="DownloadLink" class="form-control" />
                <span asp-validation-for="DownloadLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iteration" class="control-label"></label>
                <input asp-for="Iteration" class="form-control" />
                <span asp-validation-for="Iteration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
